.ipynb_checkpoints/
.virtual_documents/
ConcatenarHojas.py
ENVIOS/
LIMPIO/
NOTAS 21-8.txt
NOTAS 22-8.txt
PD Recupero Diario -Pilar Martin 24062024.xlsx
SELECCION MERLO PY-9.xlsx
SELECCIONSANMARTIN32.xlsx
archivo_estandarizado_22-8-24.xlsx
estandarizados/
